.main-content.container.medium.mt-5
  .top-players
    - if @winner_team.nil?
      - if @match.match_type == 'Content'
        = render partial: 'main'
      - else
        = render partial: 'main_project'
    - else
      = render partial: 'main_winners'
