.main-content.container.medium.mt-5
  .top-players

    - if @match.match_type == 'Content'
      %h3.d-flex.justify-content-end.total-score
        =t('labels.michelada_score')
        .text.red.ml-2.increase-3.text= t('labels.points') % { score: @match.total_score }

    - if active_match?
      = render partial: 'main'
    - else
      = render partial: 'main_winners'
