.main-content.container.medium.mt-5
  .top-players
    - if active_match?
      - if @match.content_match?
        = render partial: 'main'
      - elsif @match.project_match?
        = render partial: 'main_project'
    - else
      = render partial: 'main_winners'
