.main-content.container.medium.mt-5
  .contain.center-vertical
    .main-cont
      .judge
        = render partial: 'sections'
        = render 'form', items: @on_hold_items, identifier:  'on_hold_activities_container'
        - if @all_items.first.instance_of? Activity
          = render 'form', items: @pending_items, identifier:  'pending_activities_container'
        = render 'form', items: @all_items, identifier:  'all_activities_container'
