.main-content.container.medium.mt-5
  .contain.center-vertical
    .main-cont
      .judge
        = render partial: 'sections'
        = render 'form', all_content: @on_hold_contents, identifier:  'on_hold_activities_container'
        - if @all_content.first.instance_of? Activity
          = render 'form', all_content: @pending_contents, identifier:  'pending_activities_container'
        = render 'form', all_content: @all_content, identifier:  'all_activities_container'
