.activities {
  .tags_box {
    background: $light-blue;
    border-radius: $border-radius;
    display: flex;
    padding: $regular-padding;
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        background: $blue;
        border-radius: 15px;
        display: flex;            
        font-size: $secondary-font-size;
        margin: 0 5px 5px 0;
        padding: 3px $regular-padding;
        a {
          cursor: pointer;
          margin-left: $regular-margin;
        }
      }
    }
  }
  
    label {
      margin-top: $regular-margin;    
    }
  
    .button {
      margin-bottom: $regular-margin;
    }
  
    select {
      padding: 10px $regular-padding;
    }
    
    .form-check {
      align-items: center;
      display: flex;
    }
    
    .label-mobile {
      @include breakpoint (mobile) {
        margin-top: $regular-margin;
      }
    }
}

.activities-list {
  .right-info {
    text-align: end;
    font-size: $third-font-size;
    text-transform: uppercase;
    strong {
      text-transform: capitalize;
      font-weight: 500;
    }
  }
  
  .section {
    border-color: $light-blue;
  }

  .team {
    font-size: 20px;
  }

  .center-info {
    text-align: center;
  }

  .on-hold {
    color: $orange;
  }

  .review {
    color: $strong-red;
  }

  .approved {
    color: $green;
  }

  .icon-detail {
    fill: $yellow;
    height: $primary-icon-size;
    transform: rotate(-90deg);
  }

  .points {
    color: $red;
  }

  .activities-table {
    width: 100%;
    thead {
      color: $white;
      font-size: $third-font-size;
      th {
        font-weight: 500;
        padding-bottom: $regular-padding;
      }
    }
    .activity-actions {
      a {
        img {
          height: $secondary-icon-size;
        }
      }
    }
  }
}