.right-info {
    text-align: end;
}

.team {
  font-size: 20px;
}

.center-info {
  text-align: center;
}

.Porvalidar {
  color: $orange;
}

.Enrevisión {
  color: $strong-red;
}

.Aprobado {
  color: $green;
}