.tags_box {
  background: $blue;
  border-radius: $border-radius;
  border: 2px solid $light-blue;
  margin-bottom: 20px;
  display: flex;
  padding: $regular-padding;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      background: $light-blue;
      border-radius: 15px;
      display: flex;
      font-size: $secondary-font-size;
      margin: 0 5px 5px 0;
      padding: 3px $regular-padding;
      a {
        cursor: pointer;
        margin-left: $regular-margin;
      }
    }
  }
}

.judge {
  .button-group {
    list-style: none;
    margin-left: 0%;
    text-align: center;
    .button.pill:first-child {
      border-radius: .7em 0  0 .7em;
    }
    .button.pill:last-child {
      border-radius: 0 .7em .7em 0;
    }
  }
  .button.pill {
    background-color: $blue;
    border: 2px solid $light-blue;
    padding: 2px;
    border-radius: 0;
    color: $white;
    cursor: pointer;
    display: inline;
    font-size: $primary-font-size;
    text-transform: none;
    &:hover{
      background: $light-blue;
      color: $yellow;
    }
  }
  .button.activePill{
    color: $warning;
  }
  .icon-detail {
    fill: $yellow;
    height: $primary-icon-size;
    transform: rotate(-90deg);
  }
  .points{
    color: $red
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  li {
    background: $blue;
    border-radius: 15px;
    font-size: $secondary-font-size;
    margin: 0 5px 5px 0;
    padding: 3px $regular-padding;
    a {
      cursor: pointer;
      margin-left: $regular-margin;
    }
  }
  img.approve-true{
    background-color: $green;
    padding: 3px;
  }
  img.approve-false{
    margin-left: 0;
    background-color: $light-blue;
  }
  img.check-activity {
    height: $secondary-icon-size;
    width: $secondary-icon-size;
    border-radius: 50%;
    margin: 5px;
  }
}
.text-red{
  color: $red;
}

