.judge {
  .button-group {
    display: inline-block;
    list-style: none;
    margin-left: 13em;
  }
  .button-group li {
    float: left;
  }
  .button.pill {
    text-transform: none;
    border-radius: 0 .7em .7em 0;
    border: 1px solid $light-blue;
    color: $white;
    background-color: $blue;
    font-size: $primary-font-size;
    &:hover{
      background: $light-blue;
      color: $yellow;
    }
    &:first-child {
      border-radius: .7em 0  0 .7em;
      margin-right: -4px;
    }
  }
  a.button{
    display: unset;
  }
  .icon-detail {
    fill: $yellow;
    height: $primary-icon-size;
    transform: rotate(-90deg);
  }
}
    
