.judge {
  .button-group {
    list-style: none;
    margin-left: 40%;
  }
  .button.pill {
    background-color: $blue;
    border-radius: 0 .7em .7em 0;
    border: 1px solid $light-blue;
    color: $white;
    cursor: pointer;
    display: inline;
    font-size: $primary-font-size;
    text-transform: none;
    &:hover{
      background: $light-blue;
      color: $yellow;
    }
    &:first-child {
      border-radius: .7em 0  0 .7em;
      margin-right: -4px;
    }
  }
  .icon-detail {
    fill: $yellow;
    height: $primary-icon-size;
    transform: rotate(-90deg);
  }
  .points{
    color: $red
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  li {
    background: $blue;
    border-radius: 15px;
    display: flex;            
    font-size: $secondary-font-size;
    margin: 0 5px 5px 0;
    padding: 3px $regular-padding;
    a {
      cursor: pointer;
      margin-left: $regular-margin;
    }
  }
  a.approve-true{
        margin-left: 0;
        color: $green;
    }.approve-false{
      margin-left: 0;
    }
}

