.wraper-footer
  .footer
    .container.container-info
      .container-about
        = image_tag 'github-logo', alt: 'github', height: '25px', width: '25px', class: 'github-icon'
        = link_to(t('information.footer.about'), 'https://git.michelada.io/michelada/mcm')
      .container-extra-info
        %p= t('information.footer.copyrights')
