.wraper-footer
  .footer
    .container.container-info
      .container-about
        = image_tag 'github-logo', alt: 'github', height: '25px', width: '25px', class: 'github-icon'
        = link_to('About mcm', 'https://git.michelada.io/michelada/mcm')
      .container-extra-info
        %p
        Copyrights Michelada.io 2019
