.contain.center-vertical
  .main-content.medium
    .activities
      %h3.text.red= @project.name
      
      %h6.text.red Description
      %h6= markdown(@project.description)

      %h6.text.red Features
      %h6= markdown(@project.features) || t('projects.no_feature')

      %h6.text.red Repositories
      %h6= markdown(@project.repositories) || t('projects.no_repository')
