// Place all the styles related to the admin/admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
    
.admin-view {
  #user_role {
    height: 30px;
    padding-left: 10px;
    width: 100px;
  }
  
  .btn-admin {
    width: 100px;
    height: 30px;
    line-height: 15px;
  }

  .user-mail {
    @include  breakpoint(mobile) {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 110px;
    }
  }

  .simple_form {
    justify-content: flex-end;
    display: flex;
  }
}
