// Place all the styles related to the admin/admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
    
.admin-view {
  #user_role {
    height: 30px;
    padding-left: 10px;
    width: 100px;
    @include breakpoint(mobile){
      width: 80px;
    }
  }

  .btn-admin {
    line-height: 15px;
    height: 30px;
    width: 100px;
    @include breakpoint(mobile){
      font-size: $secondary-font-size;
      width: 80px;
    }
  }

  .simple_form {
    justify-content: flex-end;
    display: flex;
  }
}

.admin-poll, .admin-matches{
  
  .poll{
    font-size: 20px;
  }
  
  select{
    font-size: $secondary-font-size;
    margin-left: 25px; 
    text-align-last: center;
    width: calc(25% - 25px);
    @include breakpoint(mobile){
      display: block;
      margin-left: auto;
      margin-bottom: 10px;
      width: 100%;
    }
  }

  .form-group{
    margin-top: $regular-margin;
    text-align: end;
    @include breakpoint(mobile) {
      text-align: center;
    }
  }

  .form-match-group {
    .match_center {
      text-align: center;
      width: 100%;
    }
    select {
      font-size: $secondary-font-size;
      margin-left: 0px; 
      text-align-last: center;
      width: 100%;
      @include breakpoint(mobile){
        display: block;
        margin-left: auto;
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }

  .activities-table {
    width: 100%;
    thead {
      color: $white;
      font-size: $third-font-size;
      th {
        font-weight: 500;
        padding-bottom: $regular-padding;
      }
    }
  }
}

.match-list {
  .left-info {
    text-align: left;
    padding: 25px 50px 75px 100px;
    font-size: $third-font-size;
    text-transform: uppercase;
    margin-right: 100px;
  }
  .right-info {
    text-align: end;
    font-size: $third-font-size;
    text-transform: uppercase;
    
    strong {
      text-transform: capitalize;
      font-weight: 500;
    }
  }

  .section {
    border-color: $light-blue;
  }

  .team {
    font-size: 20px;
  }

  .center-info {
    text-align: center;
  }

  .icon-detail {
    fill: $yellow;
    height: $primary-icon-size;
    transform: rotate(-90deg);
  }

  .points {
    color: $red;
  }

  .match-table {
    width: 100%;
    thead {
      color: $white;
      font-size: $third-font-size;
      th {
        font-weight: 500;
        padding-bottom: $regular-padding;
      }
    }
    .match-actions {
      a {
        img {
          height: $secondary-icon-size;
        }
      }
    }
  }
}

.poll-actions {
  a {
    img {
      height: $secondary-icon-size;
    }
  }
}
