
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;

  .nav {
    justify-content: flex-end;
    text-align: right;
    > * {
      margin-left: $regular-margin;
    }
  }

  svg {
    fill: $white;
    width: 35px;

    &.is_active {
      fill: $yellow;
    }
  }

  @include breakpoint(mobile) {
    .company-logo {
      width: 60px;
      object-fit: cover;
      object-position: left;
    }
  }
}
