.center-vertical {
    align-self: center;
}

.center-content-vertical {
    display: flex;
    align-items: center;
    height: 100%;
}

.text, a, a.button:visited{
    &.red {
        color: $red;
    }
    &.yellow {
        color: $yellow;
    }
    &.white {
        color: $white;
    }
    &.increase-1 {
        font-size: 110%;
    }
    &.increase-2 {
        font-size: 120%;
    }
    &.increase-3 {
        font-size: 130%;
    }
}
