$yellow: #F9CF26;
$orange: #EA8C06;
$green: #528852;
$blue: #15152F;
$light-blue: #292C52;
$red: #E8363A;
$strong-red: #CC0505;
$white: #fff;
$gray: #C7C7EC;
$error: #F26573;
$warning: #FFD557;
$success: #93C129;
$info: #2F7799;
$danger: $error;

$primary-font-size: 14px;
$highlight-font-size: 30px;
$secondary-font-size: 12px;
$third-font-size: 16px;
$regular-padding: 15px;
$regular-margin: 15px;

$primary-icon-size: 20px;
$secondary-icon-size: 15px;

$border-radius: 6px;
