$yellow: #F9CF26;
$orange: #EA8C06;
$green: #02BC02;
$blue: #15152F;
$light-blue: #292C52;
$red: #E8363A;
$strong-red: #CC0505;
$white: #fff;

$primary-font-size: 14px;
$highlight-font-size: 30px;
$secondary-font-size: 12px;
$regular-padding: 15px;
$regular-margin: 15px;


$border-radius: 6px;