.container.center-content-vertical
  .main-content.small
    .landing
      = image_tag 'michelada', alt: 'michelada', class: 'michelada-icon'
      .container-information
        .magic
          %span Michelada
          %span Content
          %span Match
        %p= t("information.landing.about")
        %h3 Let the
        %h3.color2 BEST PLAYER
        %h3 win
        = link_to t("user.log_up"), new_user_registration_path,  class: 'button'
        = link_to t("user.log_in"), new_user_session_path,  class: 'login'
