  .button {
  background: $yellow;
  color: $blue;
  width: 100%;
  height: 35px;
  line-height: 15px;
  border-radius: 20px;
  font-size: $primary-font-size;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: $regular-padding;
  &:hover {
    color: $blue;
  }
}
a.button {
  color: $blue;
  display: table;
  text-align: center;
  line-height: 35px;
  margin-top: $regular-padding;
  &:visited {
    color: $blue;
  }   
}
a.login {
  color: $white;
  font-size: $primary-font-size;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 35px;
  margin-top: $regular-padding;
  &:visited {
    color: $white;
  }   
} 

