.input-text {
  background: $light-blue;
  border: none;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: $white;
  margin-bottom: $regular-margin;
  height: 40px;
  padding: 10px $regular-padding;
  width: 100%;
  &:focus {
    background: $light-blue;
    color: $white;
  }
  &.optional-fields {
    padding: $regular-padding;
  }
}

.inputfile{
  background: $light-blue;
  border-radius: 1em;
  border: 1px solid $gray;
  color: $white;
  font-size: $secondary-font-size;
  margin-top: $regular-margin;
  overflow: hidden;
  cursor: pointer;
  &:focus {
    color: $white;
    background: $light-blue;
  }
}

textarea{
  background: $light-blue;
  border: none;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: $white;
  margin-bottom: $regular-margin;
  padding: 0 $regular-padding;
  width: 100%;
  height: 100px;
  text-align: justify;
  padding: 15px;
}

