select {
    height: 40px;
    width: 100%;
    color: $white;
    background: $light-blue url('arrow-select-icon.svg') no-repeat;
    background-size: contain;
    background-size: 14px;
    background-position: right 10px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
