.landing{
  .michelada-icon {
    display: block;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 120px;
  }
  .container-information {
    text-align: center;
    h2, h3 {
      display: inline;
      font-size: $primary-font-size;
      text-transform: uppercase;
    }
    .color1 {
      color: $white;
      margin-left: -3px;
    }
    .color2 {
      color: $red;
      font-size: 18px;
    }
  }
}
