//MCM Colors
$cinnabar: #eb3434;
$port-gore: #201f44;
$saffronw: #f2cd35;
$logan: #AAA9CD;
$transparent: transparent;


//MCM type l
$font-family-base: Monserrat;

//MCM imputs Colors
$input-placeholder-color: $logan;
