%header
  - if user_signed_in?
    .container.header
      = link_to admin_user_manager_index_path do
        = image_tag 'michelada_white_one', alt: 'company-logo', height: 60, class: 'company-logo'
      //= link_to t('labels.polls'), admin_polls_path
