%header
  - if user_signed_in?
    .container.header
      = link_to admin_user_manager_index_path do
        = image_tag 'michelada-logo', alt: 'michelada-logo', height: 60, class: 'company-logo'
      .nav
        = link_to admin_matches_path do
          = render partial: 'icons/ic_top', locals: {is_active: controller_path == 'admin/matches' }
