
.judge
  .button-group
    %a.button.pill{:href => "main#index"} En espera
    %a.button.pill{:href => "activities#show"} Todas
  %h3
    = t('user.judge.activities.on_old.remember')
    %span.text.red
      = t('user.judge.activities.on_old.objetive')
